<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>완료한 일</title>
</head>

<body>
    <div class="complete">완료한 일</div>
    <div class="content"></div>
</body>

</html>